In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [3]:
# tips dataset
tips=sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [17]:
alpha=0.05
tips = sns.load_dataset("tips")
male_bill = tips[tips['sex'] == 'Male']['total_bill']
female_bill = tips[tips['sex'] == 'Female']['total_bill']
m_mean=np.mean(male_bill)
f_mean=np.mean(female_bill)

In [19]:
t_stats,p_value=stats.ttest_ind(male_bill,female_bill)
print(t_stats,p_value)

2.2777940289803134 0.0236116668468594

In [21]:
if p_value<=alpha:
    print("Reject Ho")
else:
    print("Fail to reject Ho")

Reject Ho