In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
 # loading tips dataset

tips=sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [53]:
# extracting only numerical columns and making a new dataframe from it 
pop_df=tips[['total_bill','tip','size']] # population
pop_df # new dataframe

     total_bill   tip  size
0         16.99  1.01     2
1         10.34  1.66     3
2         21.01  3.50     3
3         23.68  3.31     2
4         24.59  3.61     4
..          ...   ...   ...
239       29.03  5.92     3
240       27.18  2.00     2
241       22.67  2.00     2
242       17.82  1.75     2
243       18.78  3.00     2

[244 rows x 3 columns]

# simple random sampling
# use --- np.choose or np.random.choice()
# use --- df.sample() --- easy one

In [77]:
# using pandas 
srs_df=pop_df.sample(n=5,random_state=42)
print(srs_df)

     total_bill   tip  size
24        19.82  3.18     2
6          8.77  2.00     2
153       24.55  2.00     4
211       25.89  5.16     4
198       13.00  2.00     2

In [87]:
# using numpy
#
#indixes = np.random.choice(pop_df.index,size=5,replace=False)
#print(srs)
#sampledf=pop_df.loc[indixes]
#print(sampledf)

# Systematic Sampling

N- population size (len(pop_df))

n- sample size desried

k- intervals from start N//n

random start- 0 to k-1

In [145]:
N=len(pop_df) # pop_size
n=20 # sample_size
k=N//n # intervals
print(f'intervals- {k}')

np.random.seed(42)
starting_point=np.random.randint(0,k-1)
print(f'starting_point is - {starting_point}')

sample_df=pop_df.iloc[starting_point::k].head(n)
sample_df

intervals- 12
starting_point is - 6

     total_bill   tip  size
6          8.77  2.00     2
18        16.97  3.50     3
30         9.55  1.45     2
42        13.94  3.06     2
54        25.56  4.34     4
66        16.45  2.47     2
78        22.76  3.00     2
90        28.97  3.00     2
102       44.30  2.50     3
114       25.71  4.00     3
126        8.52  1.48     2
138       16.00  2.00     2
150       14.07  2.50     2
162       16.21  2.00     3
174       16.82  4.00     2
186       20.90  3.50     3
198       13.00  2.00     2
210       30.06  2.00     3
222        8.58  1.92     1
234       15.53  3.00     2

# stratified sampling 
# groupby and .sample using lambda function

In [204]:
strata='sex'
samp_df=tips.groupby(strata,group_keys=True,observed=True).apply(lambda x : x.sample(n=5,random_state=42))
print(samp_df)

            total_bill   tip     sex smoker   day    time  size
sex
Male   194       16.58  4.00    Male    Yes  Thur   Lunch     2
       60        20.29  3.21    Male    Yes   Sat  Dinner     2
       207       38.73  3.00    Male    Yes   Sat  Dinner     4
       216       28.15  3.00    Male    Yes   Sat  Dinner     5
       175       32.90  3.11    Male    Yes   Sun  Dinner     2
Female 214       28.17  6.50  Female    Yes   Sat  Dinner     3
       0         16.99  1.01  Female     No   Sun  Dinner     2
       100       11.35  2.50  Female    Yes   Fri  Dinner     2
       85        34.83  5.17  Female     No  Thur   Lunch     4
       51        10.29  2.60  Female     No   Sun  Dinner     2

C:\Users\sonu0\AppData\Local\Temp\ipykernel_20252\3951231070.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  samp_df=tips.groupby(strata,group_keys=True,observed=True).apply(lambda x : x.sample(n=5,random_state=42))

In [208]:
strata='sex'
samp_df=tips.groupby(strata,group_keys=False).apply(lambda x : x.sample(n=5,random_state=42))
print(samp_df)

     total_bill   tip     sex smoker   day    time  size
194       16.58  4.00    Male    Yes  Thur   Lunch     2
60        20.29  3.21    Male    Yes   Sat  Dinner     2
207       38.73  3.00    Male    Yes   Sat  Dinner     4
216       28.15  3.00    Male    Yes   Sat  Dinner     5
175       32.90  3.11    Male    Yes   Sun  Dinner     2
214       28.17  6.50  Female    Yes   Sat  Dinner     3
0         16.99  1.01  Female     No   Sun  Dinner     2
100       11.35  2.50  Female    Yes   Fri  Dinner     2
85        34.83  5.17  Female     No  Thur   Lunch     4
51        10.29  2.60  Female     No   Sun  Dinner     2

C:\Users\sonu0\AppData\Local\Temp\ipykernel_20252\525698379.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  samp_df=tips.groupby(strata,group_keys=False).apply(lambda x : x.sample(n=5,random_state=42))
C:\Users\sonu0\AppData\Local\Temp\ipykernel_20252\525698379.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  samp_df=tips.groupby(strata,group_keys=False).apply(lambda x : x.sample(n=5,random_state=42))