In [34]:
import numpy as np
import pandas as pd
import seaborn as sns
data = {
    'Outlook': ['Sunny', 'Sunny', 'Overcast', 'Rain', 'Rain', 'Rain', 'Overcast', 'Sunny', 'Sunny', 'Rain', 'Sunny', 'Overcast', 'Overcast', 'Rain'],
    'Temperature': ['Hot', 'Hot', 'Hot', 'Mild', 'Cool', 'Cool', 'Cool', 'Mild', 'Cool', 'Mild', 'Mild', 'Mild', 'Hot', 'Mild'],
    'Humidity': ['High', 'High', 'High', 'High', 'Normal', 'Normal', 'Normal', 'High', 'Normal', 'Normal', 'Normal', 'High', 'Normal', 'High'],
    'Wind': ['Weak', 'Strong', 'Weak', 'Weak', 'Weak', 'Strong', 'Strong', 'Weak', 'Weak', 'Weak', 'Strong', 'Strong', 'Weak', 'Strong'],
    'Play Tennis': ['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No']
}

df=pd.DataFrame(data)
df

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [35]:
# contingencty table 
contingency_table=pd.crosstab(df['Outlook'],df['Play Tennis'])
contingency_table

Play Tennis  No  Yes
Outlook
Overcast      0    4
Rain          2    3
Sunny         3    2

In [36]:
# convert freq to proportions 
# marginal prob
ct_margins=pd.crosstab(df['Outlook'],df['Play Tennis'],margins=True,normalize=True)
ct_margins

Play Tennis        No       Yes       All
Outlook
Overcast     0.000000  0.285714  0.285714
Rain         0.142857  0.214286  0.357143
Sunny        0.214286  0.142857  0.357143
All          0.357143  0.642857  1.000000

In [37]:
# joint prob
jp=pd.crosstab(df['Outlook'],df['Play Tennis'],normalize=True)
jp

Play Tennis        No       Yes
Outlook
Overcast     0.000000  0.285714
Rain         0.142857  0.214286
Sunny        0.214286  0.142857

In [50]:
tips=sns.load_dataset('tips')
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [58]:
# contingency table
ct=pd.crosstab(tips['sex'],tips['smoker'])
ct

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [64]:
#joint probability
jp=pd.crosstab(tips['sex'],tips['smoker'],normalize=True)
jp

smoker       Yes        No
sex
Male    0.245902  0.397541
Female  0.135246  0.221311

In [73]:
# marginal probability
mp=pd.crosstab(tips['sex'],tips['smoker'],margins=True,normalize=True)
mp

smoker       Yes        No       All
sex
Male    0.245902  0.397541  0.643443
Female  0.135246  0.221311  0.356557
All     0.381148  0.618852  1.000000

In [75]:
# conditional prob
cp=pd.crosstab(tips['sex'],tips['smoker'],normalize='index')
cp

smoker       Yes        No
sex
Male    0.382166  0.617834
Female  0.379310  0.620690

In [81]:
cp=pd.crosstab(tips['sex'],tips['smoker'],normalize='columns')
cp

smoker       Yes        No
sex
Male    0.645161  0.642384
Female  0.354839  0.357616