# One sample t-Test

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [60]:
# tips dataset
tips=sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [46]:
#total bill 
#Is the average total bill significantly different from ₹20?
# (Ho) - average total bill significantly different from ₹20
# H1 - average total bill is not significantly different from ₹20

In [48]:
alpha=0.05

In [107]:
pop_mean=20
pop = tips['total_bill']   # population-like data
sample_size = 26

sample = np.random.choice(pop, sample_size, replace=False)
print(sample)
sample_mean=np.mean(sample)

[16.43 48.33 12.6  16.4  40.55 10.07 13.27 21.16 21.5  10.27 34.63 15.36
 16.58 15.42 12.02 10.09 21.01 16.93 25.28 16.47 34.65 43.11 18.43 20.27
 20.9  13.  ]

In [109]:
t_stats,p_val=stats.ttest_1samp(sample,pop_mean)
print(t_stats)
print(p_val)

0.4577908317468281
0.6510567801002747

In [111]:
if p_val<=alpha:
    print("Reject Ho")
else:
    print("Fail to reject Ho")

Fail to reject Ho

## There is insuuficient info for average total bill is not significantly different from ₹20